<div class="navbar-fixed" id="header">
    <nav class="white">
        <div class="container">
          <div class="row nav-wrapper">
              <div class="col s5">
                <ul class="hide-on-med-and-down">
                  <li><a href="/"><strong>Home</strong></a></li>
                  <li><a class='dropdown-button' href='#' data-activates='category-lists'>Posts</a></li>
                  <li><a href="#test7" class="">About Me</a></li>
                </ul>
              </div>
              <div class="col s4 header-social">
                  {% include social_profile.html %}
              </div>
              <div class="col s3">
                <div class="input-field">
                      <input id="search" type="search" placeholder="~$ Hit enter to search.." required>
                      <i class="material-icons">search</i>
                </div>
              </div>
          </div>
        </div>
    </nav>
</div>