<div class="fixed-action-btn">
    <a data-activates="slide-out" class="btn-large btn-floating button-collapse"><i class="material-icons black-text white">menu</i></a>
</div>
<ul id="slide-out" class="side-nav">
  <li> 
  		<div class="row profile">
  			<div class="col s12">
  				<div class="divider-dash"></div>
  				<h5>About Me</h5>
  			</div>
	        <div class="col s12">
	          <div class="card">
	            <div class="card-image">
	              <img class="responsive-img" src="/assets/images/profile.png">
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	          </div>
	        </div>
        </div>
  </li>
  <li>
  	<div class="row profile">
  		<div class="col s12">
  			<div class="divider-dash"></div>
  			<h5>Recent Posts</h5>
  		</div>
  		<div class="col s12">
  			<ul class="collection">
		      <li class="collection-item">1. Alvin Alvin Alvin Alvin Alvin</li>
		      <li class="collection-item">2. Alvin Alvin Alvin Alvin Alvin</li>
		      <li class="collection-item">3. Alvin Alvin Alvin Alvin Alvin</li>
		      <li class="collection-item">4. Alvin Alvin Alvin Alvin Alvin</li>
		    </ul>
  		</div>
  	</div>
  </li>
</ul>