{% include header.html %}
<div id="fullpage">
	<div class="section profile fp-auto-height">
		<div class="row">
			<div class="container">
		    	<div class="col s12 center-align header">
		    		<h3 class="teal-text">Profile</h3>
		    		<h4>I'm a full stack web developer.</h4>
		    	</div>
				<div class="col s4">
					<h4 class="teal-text">About Me</h4>
					<p>
						I'm a full stack web developer, have been working on various web stacks for 6+ years.Passionate with programs, always eager to solve problems.
					</p>
				</div>
				<div class="col s4 center-align avatar">
					<img src="/assets/images/profile.png">
				</div>
				<div class="col s4">
					<h4 class="teal-text">Details</h4>
					<p>
						<b>Name:</b>&nbsp;&nbsp;<span>Raymond Cheng</span>
						<br />
						<b>Age:</b>&nbsp;&nbsp;<span>29</span>
						<br />
						<b>Location:</b>&nbsp;&nbsp;<span>China</span>
						<br />
						<b>Email:</b>&nbsp;&nbsp;<a href="mailto:akulubala@gmail.com">akulubala@gmail.com</a>
						<br />
						<b>Phone:</b>&nbsp;&nbsp;<span>+86 18691617190</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="experience section">
		<div class="container">
			<div class="col s12 center-align header">
	    		<h3 class="teal-text">Experiences</h3>
	    		<h5>Knowledge is the antidote to fear.</h5>
	    	</div>
	    	<h3 class="teal-text">
	    		Careers
	    	</h3>
	    	<div class="row">
	    		<div class="col s4">
		    		<h5>Freelancer</h5>
		    		<p>October 2016 - Current</p>
		    	</div>
		    	<div class="col s8">
		    		<h5>Freelancer - Full Stack Web Developer</h5>
		    		<p>
		    			As a Full-Stack Developer with 6+ years of experience in related fields, involved into several web/wechat projects.
		    			<ul>
		    				<li>
		    					<a href="http://www.businesswoman.network">www.businesswoman.network</a>
		    				</li>
		    				<li>
		    					<a href="http://www.yixiuxueyuan.com">www.yixiuxueyuan.com</a>
		    				</li>
		    				<li>
		    					<a href="http://www.rentvogue.com">www.rentvogue.com</a>
		    				</li>
		    				<li>
		    					<a href="http://unswell.com">unswell.com</a>
		    				</li>
		    				<li>
		    					<a href="http://www.bngsj.com">www.bngsj.com</a>
		    				</li>
		    			</ul>
		    		</p>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s4">
		    		<h5><a href="http://deepdevelop.com/">Deepdevelop Team</a></h5>
		    		<p>March 2015 - October 2016</p>
		    	</div>
		    	<div class="col s8">
		    		<h5>Fulltime( Remote ) - Senior Web Developer</h5>
		    		<p>
		    			<ul>
							<li>1. Building PHP websites using Laravel Framwork as team leader. </li>
							<li>2. Design Databases Structure & Restful Api.</li>
							<li>3. Testing and validating work produced as part of the development process.</li>
							<li>4. Backend development and maintenance of websites.</li>
							<li>5. Developing compatible User Interface functionality using Jquery ,vuejs & other libraries.</li>
							<li>6. Documenting features, technical specifications & infrastructure requirements.</li>
		    			</ul>
		    		</p>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s4">
		    		<h5><a href="http://www.yixun.com">Yixun.com</a></h5>
		    		<p>March 2015 - October 2016</p>
		    	</div>
		    	<div class="col s8">
		    		<h5>Fulltime( Remote ) - Senior Web Developer</h5>
		    		<p>
		    			<ul>
							<li>1. Building PHP websites using Laravel Framwork as team leader. </li>
							<li>2. Design Databases Structure & Restful Api.</li>
							<li>3. Testing and validating work produced as part of the development process.</li>
							<li>4. Backend development and maintenance of websites.</li>
							<li>5. Developing compatible User Interface functionality using Jquery ,vuejs & other libraries.</li>
							<li>6. Documenting features, technical specifications & infrastructure requirements.</li>
		    			</ul>
		    		</p>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s4">
		    		<h5><a href="http://www.tiancity.com/homepage/">Shanghai Posts & Telecommunications Technology Ltd</a></h5>
		    		<p>April 2013 - 2015 January</p>
		    	</div>
		    	<div class="col s8">
		    		<h5>Fulltime - Senior Web Developer</h5>
		    		<p>
		    			<ul>
							<li>1. Develop backend program for flash game like 2048</li>
							<li>2. lottery and limited time discount sales system for game player</li>
							<li>3. develop a variety of activities for game community</li>
							<li>4. based requirement iterate game community system</li>
		    			</ul>
		    		</p>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s4">
		    		<h5><a href="http://www.lelo.com">Lelo (Shanghai) Trading Ltd</a></h5>
		    		<p>April 2012 - 2013 June</p>
		    	</div>
		    	<div class="col s8">
		    		<h5>Fulltime - Web Developer</h5>
		    		<p>
		    			<ul>
							<li>1. Developing and creating PHP MySQL applications as per the specifications</li> 
							<li>2. develop and maintain product online retail system based on Codeigniter Framework</li>
							<li>3. develop and maintain product verification system</li>
		    			</ul>
		    		</p>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s4">
		    		<h5><a href="http://www.smartbuyglasses.com">Motion Global(Shanghai) Pvt. Ltd</a></h5>
		    		<p>July 2010 - march 2012</p>
		    	</div>
		    	<div class="col s8">
		    		<h5>Fulltime - Server administrator & Web Developer</h5>
		    		<p>
		    			<ul>
							<li>1. Developed, Maintained and Tested the E-commerce website (http://www.smartbuyglasses.com) Based on zendframework 1</li>
							<li>2. Tasks for Data Graphics</li>
							<li>3. Web Server monitor system development</li>
		    			</ul>
		    		</p>
		    	</div>
	    	</div>
		</div>
	</div>
	<div class="skills section">
		<div class="row">
			<div class="container">
		    	<div class="col s12 center-align header">
		    		<h3 class="teal-text">Skills</h3>
		    		<h4>Patience is a bitter plant that produces sweet fruit.</h4>
		    	</div>
		    	<ul class="col s6">
		    		<li>
						<span class="ability-title">PHP</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</span>
					</li>
					<li>
						<span class="ability-title">javascript</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Mysql</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Python</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Ruby</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Redis</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Memcached</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">mongodb</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">ElasticSearch</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Rabbitmq</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">html/css</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</span>
					</li>
		    	</ul>
		    	<ul class="col s6">
		    		<li>
						<span class="ability-title">Laravel Framework</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Bootstrap</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Vuejs</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Ruby On Rails</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Jekyll</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Nodejs</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">October Cms</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Codeigniter</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">Zend Framework 2</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">backbone Js</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
					<li>
						<span class="ability-title">JQuery</span>
						<span class="ability-score">
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star</i>
							<i class="material-icons">star_border</i>
						</span>
					</li>
		    	</ul>
			</div>
		</div>
	</div>
	<div class="works section">
		<div class="center-align header">
    		<h3 class="white-text">Example Projects</h3>
    	</div>
		 <div class="slide-section" id="slide1">
			<div class="center-align">
				<h5><a class="white-text" href="https://www.smartbuyglasses.com/">Smartbuyglasses.com</a></h5>
				<a class="white-text" href="https://www.smartbuyglasses.com/">
					<img src="{{ site.url }}/assets/images/projects/smartbuyglasses.png" alt="smartbuyglasses" />
				</a>
			</div>
		</div>

	    <div class="slide-section" id="slide2">
	    	<div class="center-align">
				<h5><a class="white-text" href="http://www.yixiuxueyuan.com/">Yixiuxueyuan.com</a></h5>
				<a class="white-text" href="http://www.yixiuxueyuan.com/">
					<img src="{{ site.url }}/assets/images/projects/yixiuxueyuan.png" alt="yixiuxueyuan" />
				</a>
			</div>
		</div>
		<div class="slide-section" id="slide3">
	    	<div class="center-align">
				<h5><a class="white-text" href="http://www.bngsj.com/">Bngsj.com</a></h5>
				<a class="white-text" href="http://www.bngsj.com/">
					<img src="{{ site.url }}/assets/images/projects/bngsj.png" alt="bngsj" />
				</a>
			</div>
		</div>
		<div class="slide-section" id="slide4">
	    	<div class="center-align">
				<h5><a class="white-text" href="http://zhaozhubao.com/">Zhaozhubao.com</a></h5>
				<a class="white-text" href="http://zhaozhubao.com/">
					<img src="{{ site.url }}/assets/images/projects/zhaozhubao.png" alt="zhaozhubao" />
				</a>
			</div>
		</div>
	</div>
</main>
{% include category_lists.html %}
{% include footer.html %}
