	{% include header.html %}
	<div class="container">
		{% include search_result.html %}
	    <div id="content" class="markdown-body">
           <h5 id="page_title">{{page.title}}</h5>
           <p class="date">{{page.date | date: "%b %d, %Y" }}</p>
			{{ content }}
		</div>
		<div class="post-share">
    		<a href="#" class="share-action"><i class="material-icons md-dark">share</i></a>
	        {% include social_shares.html post=page %}
	    </div>
		{% include comment.html id=page.id url=page.url %}
	</div>
</main>
{% include category_lists.html %}
{% include right_slider.html %}
{% include footer.html %}
